# Add coordinates to Toronto Neighborhood's data frame

## Intruduction
In this notebook we will add two columns to the data frame, one with latitute another with longitude, for each line in the data set.

Let's import all the necessary modules:

In [16]:
import pandas as pd
# !pip install geocoder
import geocoder as gc
print('Libraries imported.')

Libraries imported.

Now we need to read the .csv file created in the last notebook (TorontoNeighborhood.csv)

In [29]:
df = pd.read_csv('TorontoNeighborhood.csv', index_col = 0)
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

For each row of the dataframe we are going to calculate the correspondent latitude and longitude and add them to the new columns.

In [30]:
# initialize your variable to None
#for index, row in df.iterrows():
#    # loop until you get the coordinates
#    lat_lng_coords = None
#    while(lat_lng_coords is None):
#        g = gc.google('{}, {}, Canada'.format(row.Borough, row.PostalCode))
#        lat_lng_coords = g.latlng
#        l.append(lat_lng_coords)
#        

# Unfortunatly I could get it to work, so I'm getting the coordinates from the given .csv file
loc = pd.read_csv('https://cocl.us/Geospatial_data')

# Set the same name on the column we want to merge on
loc = loc.rename(index=str, columns={"Postal Code": "PostalCode"})

# Merge dataframes on PostalCode
df = df.merge(loc, left_on='PostalCode', right_on='PostalCode')
df.head(12)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849

In [31]:
df.shape

(103, 5)

And here we add the latitude and longitude to all rows of the dataframe